.nav {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  z-index:1;
}
.nav_logo {
  width: 80px;
  object-fit: contain;
  left: 0;
  position: fixed;
}
.nav_avatar {
  width: 30px;
  object-fit: contain;
  right: 20px;
  position: fixed;
}
.nav_black {
  background-color: #111;
}
